# ignore all hidden (dot) files in the root directory except for .gitignore
/.*
!.gitignore

# directory for storing uploaded files
/uploads/

# frontend
node_modules/

#fonts
*.min.*
*.ttf
*.woff
*.woff2
!/ui/static/fonts/IBMPlexSans/*
