/*---------------------------------------------------------*
  #TYPOGRAPHY
 *---------------------------------------------------------*/

$base-font: "PlexSansVar";
$font-stack: (
  $base-font,
  "Helvetica",
  "Arial",
  sans-serif
);

/*---------------------------------------------------------*
  #COLORS
 *---------------------------------------------------------*/

$color-primary-1: #bada55;
$color-neutral-1: #333;
$color-copy-1: $color-neutral-1;

/*---------------------------------------------------------*
  #BURGER MENU
 *---------------------------------------------------------*/

$icon-menu-size: 2em;
$line-menu-width: 1em;
$line-menu-height: 0.125em;
$line-menu-space: 0.1875em;

/*---------------------------------------------------------*
  #BREAKPOINTS
 *---------------------------------------------------------*/

$media-sm: 23.4375em;
/* 375px */
$media-md: 48em;
/* 768px */
$media-lg: 71.875em;
/* 1150px */
