@use "../abstracts" as abs;

::selection {
  color: inherit;
  background-color: abs.hsl-color(light, base);
}

html {
  scrollbar-color: var(--fg) var(--bg);
}

body {
  font-family: abs.$font-stack;
  line-height: 1.6;
  color: var(--fg);
  letter-spacing: 0.025em;
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.7;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

fieldset {
  padding: 0;
}

[class*=-btn] {
  letter-spacing: 0.037em;
}
