@use "../abstracts" as a;

/* LAYOUT */

/* [1] Make element occupy entire viewport width
https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/ */

.container {
  width: min(780px, 100%);
  padding-inline: max(24px, 3vw);
  margin-inline: auto;
}

/* ACCESSIBILITY */

/* Visually hide element, but keep it accessible for screen
readers */

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

$space-units: (
  "2xs": 4,
  "xs": 8,
  "s": 12,
  "m": 16,
  "l": 24,
  "xl": 32,
  "2xl": 40,
  "3xl": 48,
  "4xl": 56,
);

@each $size, $n in $space-units {
  .flow-#{$size}>*:not(:last-child) {
    margin-bottom: a.px-to-rem($n);
  }
}
