/* Sticky footer */
body {
  display: flex;
  flex-direction: column;

  .site-footer {
    margin-top: auto;
  }
}

.site-footer {
  padding-block-end: 22px;
  color: #bebebe;
}

.copyright {
  font-size: 0.75rem;
  color: var(--color-light);
}
