/* Sticky footer */

body {
  display: flex;
  flex-direction: column;

  &>footer {
    margin-top: auto;
  }
}

footer {
  padding-block-end: 22px;
  color: #bebebe;
}

.copyright {
  font-size: 0.75rem;
  color: #555;
}
