@use "../abstracts" as abs;

/* Sticky footer */
body {
  display: flex;
  flex-direction: column;

  .site-footer {
    margin-top: auto;
  }
}

.site-footer {
  padding-block-end: 22px;
  color: #bebebe;
}

.site-footer-container {
  margin-block-start: abs.px-to-rem(32);
}

.copyright {
  font-size: 0.875rem;
  color: var(--text-light);
}
