.site-header {
  margin-block: 3.5rem 0.75rem;
}

.logo {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.012em;
  color: hsl(from var(--accent-color) h s 35%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
