@use "../abstracts" as abs;

.upload {
  position: relative;
  width: 100%;
  min-height: 14rem;
  border: 1px solid var(--shade-80);
  border-radius: abs.px-to-rem(6);
  user-select: none;
}

.upload input[type=file] {
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  border-radius: abs.px-to-rem(6);
  color: var(--bg);
  user-select: none;

  &::file-selector-button {
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    opacity: 1;
    outline: 2px dashed var(--accent-color);
    outline-offset: 0;
  }
}

.upload-content {
  position: absolute;
  inset: 50% 0 auto;
  z-index: 5;
  transform: translateY(-50%);
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  pointer-events: none;
}

.upload-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto 0;
  padding: 0.325em 0.865em;
  border-radius: 6px;
  color: var(--fg);
  border-radius: 0.125em;
  width: fit-content;
  pointer-events: none;

  @include abs.bg(light, ".upload:hover &");
}

.upload-info {
  font-size: 1rem;
  color: var(--fg);
}

.upload-btn svg {
  width: 40px;
  height: auto;
  color: currentColor;
}

.glyphs-heading {
  font-size: 1.125rem;
  font-weight: 500;
  user-select: none;
}

.output-files {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.5rem;
}

.output-file {
  --padding: 0.75rem;
  --checkbox-width: 1rem;
  --checkbox-color: var(--accent-color);

  position: relative;
  display: flex;
  gap: 1.5em;
  background-color: var(--shade-90);
  border-radius: 6px;
  padding-left: var(--padding);

  > input[type=checkbox] {
    opacity: 0;
    height: var(--checkbox-width);
    width: var(--checkbox-width);

    &:checked + label::before {
      background-color: var(--base-color);
      background-clip: content-box;
      background-color: var(--checkbox-color);
      border-color: var(--checkbox-color);
      transition: border-color var(--transition),background-color var(--transition);
    }
  }

  > label {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.084em;
    padding: var(--padding);
    margin-left: calc(-1*var(--padding));
    user-select: none;

    &::before {
      aspect-ratio: 1;
      background-color: transparent;
      border: 2px solid var(--accent-color);
      border-radius: 0.125rem;
      content: "";
      display: inline-block;
      left: var(--padding);
      padding: 2px;
      position: absolute;
      width: var(--checkbox-width);
      pointer-events: none;
      top: 50%;
      translate: 0 -50%;
    }
  }

  &:hover {
    background-color: var(--shade-90);
  }
}

.glyph-set {
  background-color: var(--shade-90);
  border-radius: 6px;
  display: flex;

  &:hover {
    background-color: var(--shade-90);
  }

  > label {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: 0.75em;
    user-select: none;
  }

  > input[type=checkbox] {
    margin-left: 1.5em;
    display: inline-block;
  }
}

.more-glyphs {
  display: flex;
  gap: 0.5em;
  color: var(--shade-35);
  font-weight: 500;
  margin-inline: auto;
  width: fit-content;

  svg {
    color: currentColor;
  }
}

.upload-submit-btn {
  font-weight: 600;
  padding: 1em 1.5em;
  border-radius: 4px;
  color: var(--bg);
  transition: background 150ms;

  @include abs.bg;
}
